body {
    font-family: sans-serif;
}

circle.active {
    stroke: orange;
}

.node circle {
    fill: steelblue;
}

.node text {
    font: 10px sans-serif;
    fill: #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.Steps {
    display: flex;
    flex-wrap: wrap;
}

.Step {
    border: 1px solid #eee;
    transform: scale(1);
}